
<header id="header" class="animated fadeInDown">

  <div id="logo-group">
    <span id="logo"> <img src="../assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Need an account?</span> <a ui-sref="register"
      class="btn btn-danger">Create account</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown" style="margin-left: 50px;">

  <div id="content" class="container">
      <div class="product-content product-wrap clearfix">
          <h2 class="name" style="margin-left: 5px;">
              Payment information
      
      
            </h2>
            <hr>
          <div class="row">
              <div class="col-md-5 col-sm-12 col-xs-12">
                  <div class="product-image" style="height: 350px;margin-left: 40px;">
                      <h3 class="price-container">
                        Total Balance:$129.54
                        <small>*includes tax</small>
                      </h3>
                      <div class="certified">
                          <div style="font-size: 16Px;margin-left: 5px;"><label class="" style="font-size: 16Px;"><b>Patient:</b></label><b>Test
                              Patient</b></div>
                              <div style="font-size: 16Px;margin-left: 5px;"><label class="blue" style="font-size: 16Px;"><b>MRN:</b></label><b>Test
                                  Patient</b></div>
                                  <div style="font-size: 16Px;margin-left: 5px;"><label class="blue" style="font-size: 16Px;"><b>Email:</b></label><b>Test
                                      Patient</b></div>
                                      <div style="font-size: 16Px;margin-left: 5px;"><label class="blue" style="font-size: 16Px;"><b>Phone:</b></label><b>Test
                                          Patient</b></div>
                                          <div style="font-size: 16Px;margin-left: 5px;"><label class="blue" style="font-size: 16Px;"><b>Balance:</b></label><b>Test
                                              Patient</b></div>
                        <ul>
          
                        </ul>
                      </div>
                    </div>
              </div>
              <div class="col-md-7 col-sm-12 col-xs-12">
                  <div class="" style="height: 200px;">


                      <div id="form-container" style="top: 10px;bottom: 0px;margin-left: 50px;">
                        <div id="sq-ccbox">
                          <!--
                                      Be sure to replace the action attribute of the form with the path of
                                      the Transaction API charge endpoint URL you want to POST the nonce to
                                      (for example, "/process-card")
                                    -->
                          <form  id="nonce-form"   novalidate action="javascript:void(0);" method="get">
                            <h2>Pay with a Credit Card</h2>
                            <label for="sq-card-number">Card Number:</label>
                            <div id="sq-card-number"></div>
                            <label for="sq-cvv">CVV:</label>
                            <div id="sq-cvv"></div>
                            <label for="sq-expiration-date">Expiration Date:</label>
                            <div id="sq-expiration-date"></div>
                            <label for="sq-postal-code">Postal Code:</label>
                            <div id="sq-postal-code"></div>
          
                            <button id="sq-creditcard" class="btn-main button-credit-card" (click)="this.requestCardNonce($event)">Pay
                              with card</button>
          
                            <input type="hidden" id="sq-id" name="sq-id">
                            <input type="hidden" id="card-nonce" name="nonce">
          
                            <!--      <button id="sq-creditcard" class="button-credit-card " onclick="requestCardNonce(event)">Pay $1.00</button>-->
          
                            <div id="error"></div>
          
                            <!--
                                          After a nonce is generated it will be assigned to this hidden input field.
                                        -->
                            <input type="hidden" id="card-nonce" name="nonce">
                          </form>
                        </div> <!-- end #sq-ccbox -->
                      </div>
          
          
                    </div>
              </div>
              
          </div>
          <div class="">
              <hr>
              <h2 class="name" style="margin-left: 5px;">
                  Payment plan
          
          
                </h2>
              <hr>
              <div>
                  <div class="col-xs-12 col-sm-6" style="width: auto">
                      <div class="control-group">
                      
                        <div class="radio">
                          <label>
                                                                                                      <input name="form-field-radio" type="radio" checked="" class="ace">
                                                                                                          <span class="lbl" style="width: 400px;"><b> Pay my balance of $100.00 in full</b></span>
                          </label>
                        </div>
  
                        <div class="radio">
                          <label>
                            <input name="form-field-radio" type="radio" class="ace">
                                                                                                          <span class="lbl" style="width: 400px;"> <b>Pay my balance of $100.00 in 2 installments</b></span>
                          </label>
                        </div>
                      </div>
                          <table id="paymentDet" class="table table-striped table-hover table-condensed hidden" style="margin-top: 30px;margin-bottom: 10px;">
                  <thead>
                    <tr>
                        <th width="15%" class="" > Date of charge</th>
                        <th width="14%" class="" >Amount</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>02/02/219</td>
                        <td>$50.00</td>
                    </tr>
                    <tr>
                        <td>03/02/219</td>
                        <td>$50.00</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
              </tbody>
              </table>
              <div class="pull-right" style="padding-bottom: 10px;">
                  <button id="sq-creditcard" class="button-credit-card"   onclick="requestCardNonce(event)">Pay $100.00</button>
              </div>								
          </div>
              </div>
          </div>
        </div>
  </div>
</div>
<!--<script type="text/javascript">
        //paymentForm.build();
    
        SqPaymentForm.recalculateSize()
        document.addEventListener("DOMContentLoaded", function(event) {
        if (SqPaymentForm.isSupportedBrowser()) {
          paymentForm.build();
          paymentForm.recalculateSize();
        }
      });
    </script>-->